# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/captures/
android/local.properties
*.iml
*.class
*.log
*.swp

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# Windows
Thumbs.db
